@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post" action="@Url.Action("Login", "Account")">
    <div>
        <input type="text" name="email" placeholder="Email" class="form-control" />
    </div>

    <div>
        <input type="password" name="password" placeholder="Password" class="form-control" />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Login</button>
</form>

<br />

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}

<hr />

<p>Don't have an account?</p>

<a href="@Url.Action("Register", "Account")" class="btn btn-secondary">
    Register Here
</a>
